.container {
    padding: 20px;
}

.loginBlock {
    text-align: center;
    margin-bottom: 50px;
}

.infoBlock {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.leftBlock {
    flex: 1;
}

.rightBlock {
    flex: 1;
}

#PlayerName {
    font-size: 1em;
    text-align: center;
}

#UserClass {
    font-size: 1em;
    text-align: center;
}

#UserRoomNum {
    font-size: 1em;
    text-align: center;
}

.roomDetailTitle {
    font-size: 1.75em;
    text-align: center;
    font-weight: bold;
}

.cardResult {
    font-size: 1.75em;
    text-align: center;
    font-weight: bold;
}

.meme {
    position: relative;
    width: 300px;
    height: 300px;
}

.meme img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.top-caption,
.bottom-caption {
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}

.top-caption {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.bottom-caption {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}


@media (max-width:600px){
    .loginBlock {
    text-align: center;
    display: flex;
    flex-direction: column;
}
}